

.circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 8px;
    left: 8px;
}

.diamond {
    width: 30px;
    height: 30px;
    background: rebeccapurple;
}